h5 {
    padding: 10px;
}

h1 {
    font-family: 'Adamina', serif;
}

#display-campsites a {
    text-decoration: none;
    color: darkslategrey;
}

#submit {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {

    label {
        font-size: 11px;
    }

    #search-label{
        font-size: 11px;
    }
  }